[push]
default = simple
[user]
name = "Aldrin J D'Souza"
email = aldrin@users.noreply.github.com
signingkey = 523D306F1CB28066
[alias]
commend = "commit --amend --no-edit"
[core]
autocrlf = input
editor = emacsclient -nw -q
[credential]
helper = cache
